/Ejercicios/nbproject/private/
/Ejercicios/build/
/Busquedas/nbproject/private/
/Busquedas/build/
/Prueba/nbproject/private/
/prueba2/nbproject/private/
/POO/nbproject/private/
/POO1/nbproject/private/
/POO1/build/
/Defenza NRO 1/nbproject/private/
/Defenza NRO 1/build/
/Condicionales/nbproject/private/
/Condicional/nbproject/private/
/Condicional/build/
/Matriz/nbproject/private/
/Matriz/build/
/Guia de Laboratorio/nbproject/private/